<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
  
     <% newListItems.forEach(function(item)     { %>
      <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox"name="checkbox_id" value= "<%= item._id %>"  onChange= "this.form.submit()"  >
        <p><%=  item.name  %></p>
      </div>
      <input type="hidden" name = "custom_name" value = "<%= item.name %>"></input>
      <input type="hidden" name = "title_name" value = "<%= listTitle %>"></input>
    </form>
    <% } )%>
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" class="add" name="list" value="<%= listTitle %>">+</button>
      </form>
    </div>


  <% if (listTitle === "Today"){ %>

  <form class="group" action="/other" method="post">

    <input
    type="text"
    name="newItemB"
    placeholder="New List/ Open List"
    autocomplete="off"
    
    />
    <button type="submit" class="list" value="<%= listTitle %>" name="newList">Create/Open</button>
  </form>

  <% } else{ %>
    <form class=" group" action="/deletelist" method="post">
      <button type="submit"class="list" value="<%= listTitle %>" name="list">Delete</button>
    </form>
  <%}%>

<%- include("footer") -%>
